@model Glimpse.Mvc5.Sample.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EmployeeViewModel</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Firstname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.Firstname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Lastname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.Lastname) 
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.RoleID, "Role ID")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Employee.RoleID, Model.Roles, "--Select a role --" )  
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
